In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def load_data():
    order_list = pd.read_csv("C:/Users/ahama/OneDrive/Documents/Supply Chain Data Project/Order List.csv")
    freight_rates = pd.read_csv("C:/Users/ahama/OneDrive/Documents/Supply Chain Data Project/Freight Rates.csv")
    whcosts = pd.read_csv("C:/Users/ahama/OneDrive/Documents/Supply Chain Data Project/WhCosts.csv")
    whcapacities = pd.read_csv("C:/Users/ahama/OneDrive/Documents/Supply Chain Data Project/WhCapacities.csv")
    products_per_plant = pd.read_csv("C:/Users/ahama/OneDrive/Documents/Supply Chain Data Project/Products per Plant.csv")
    vmi_customers = pd.read_csv("C:/Users/ahama/OneDrive/Documents/Supply Chain Data Project/VMI Customers.csv")
    plant_ports = pd.read_csv("C:/Users/ahama/OneDrive/Documents/Supply Chain Data Project/Plant Ports.csv")

    tables = [order_list, freight_rates, whcosts, whcapacities, products_per_plant, vmi_customers, plant_ports]
    return tables  # Return the list of dataframes

In [3]:
def inspect_df(table_list):
    for i, df in enumerate(table_list):
        print(f"Table {i+1} preview:")
        print(df.head())
        print("\nInfo:")
        print(df.info())
        print("\nStatistics:")
        print(df.describe())
        print("\n" + "="*50 + "\n")

In [4]:
def clean_order_list(table_list):
    order_list = table_list[0]
    #change data type of Order Date column to date
    order_list['Order Date'] = pd.to_datetime(order_list['Order Date'], format='%d/%m/%Y')
    table_list[0] = order_list
    return(table_list)

In [5]:
def clean_freight_orders(table_list):
    freight_rates = table_list[1]
    freight_rates['max_wgh_qty'] = freight_rates['max_wgh_qty'].astype(str).replace({',': '', ' ': ''}, regex = True).astype(float)
    freight_rates['minimum cost'] = freight_rates['minimum cost'].astype(str).replace({',': '', ' ': '', r'\$': ''}, regex = True).astype(float)
    freight_rates['rate'] = freight_rates['rate'].astype(str).replace({',': '', ' ': '', r'\$': ''}, regex = True).astype(float)
    table_list[1] = freight_rates
    return(table_list)

In [6]:
def clean_whcosts(table_list):
    whcosts = table_list[2]
    whcosts = whcosts.dropna(subset=['WH'])
    table_list[2] = whcosts
    return(table_list)

In [7]:
def clean_plant_ports(table_list):
    plant_ports = table_list[6]
    plant_ports = plant_ports[['Plant Code', 'Port']]
    table_list[6] = plant_ports
    return(table_list)

In [8]:
def save_to_csv(table_list):
    # Save a DataFrame without the index column
    table_list[0].to_csv('cleaned_order_list.csv', index=False)
    table_list[1].to_csv('cleaned_freight_rates.csv', index=False)
    table_list[2].to_csv('cleaned_whcosts.csv', index=False)
    table_list[3].to_csv('cleaned_whcapacities.csv', index=False)
    table_list[4].to_csv('cleaned_products_per_plant.csv', index=False)
    table_list[5].to_csv('cleaned_vmi_customers.csv', index=False)
    table_list[6].to_csv('cleaned_plant_ports.csv', index=False)
    return(table_list)

In [10]:
if __name__ == "__main__":
    tables = load_data()   # Now tables contains your list of DataFrames
    clean_order_list(tables)
    clean_freight_orders(tables)
    clean_whcosts(tables)
    clean_plant_ports(tables)
    save_to_csv(tables)
    inspect_df(tables)

Table 1 preview:
     Order ID Order Date Origin Port Carrier  TPT Service Level  \
0  1447296447 2013-05-26      PORT09   V44_3    1           CRF
1  1447158015 2013-05-26      PORT09   V44_3    1           CRF
2  1447138899 2013-05-26      PORT09   V44_3    1           CRF
3  1447363528 2013-05-26      PORT09   V44_3    1           CRF
4  1447363981 2013-05-26      PORT09   V44_3    1           CRF

   Ship ahead day count  Ship Late Day count   Customer  Product ID  \
0                     3                    0  V55555_53     1700106
1                     3                    0  V55555_53     1700106
2                     3                    0  V55555_53     1700106
3                     3                    0  V55555_53     1700106
4                     3                    0  V55555_53     1700106

  Plant Code Destination Port  Unit quantity  Weight
0    PLANT16           PORT09            808   14.30
1    PLANT16           PORT09           3188   87.94
2    PLANT16           PORT09           2331   61.20
3    PLANT16           PORT09            847   16.16
4    PLANT16           PORT09           2163   52.34

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9215 entries, 0 to 9214
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order ID              9215 non-null   int64
 1   Order Date            9215 non-null   datetime64[ns]
 2   Origin Port           9215 non-null   object
 3   Carrier               9215 non-null   object
 4   TPT                   9215 non-null   int64
 5   Service Level         9215 non-null   object
 6   Ship ahead day count  9215 non-null   int64
 7   Ship Late Day count   9215 non-null   int64
 8   Customer              9215 non-null   object
 9   Product ID            9215 non-null   int64
 10  Plant Code            9215 non-null   object
 11  Destination Port      9215 non-null   object
 12  Unit quantity         9215 non-null   int64
 13  Weight                9215 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(6)
memory usage: 1008.0+ KB
None

Statistics:
           Order ID          TPT  Ship ahead day count  Ship Late Day count  \
count  9.215000e+03  9215.000000           9215.000000          9215.000000
mean   1.447274e+09     1.717743              1.852306             0.039935
std    8.381629e+04     0.630500              1.922302             0.319625
min    1.447126e+09     0.000000              0.000000             0.000000
25%    1.447197e+09     1.000000              0.000000             0.000000
50%    1.447276e+09     2.000000              3.000000             0.000000
75%    1.447346e+09     2.000000              3.000000             0.000000
max    1.447425e+09     4.000000              6.000000             6.000000

         Product ID  Unit quantity       Weight
count  9.215000e+03    9215.000000  9215.000000
mean   1.680536e+06    3202.747151    19.871688
std    1.526593e+04   15965.622260    66.569064
min    1.613321e+06     235.000000     0.000000
25%    1.669702e+06     330.000000     1.407430
50%    1.683636e+06     477.000000     4.440000
75%    1.689554e+06    1275.500000    13.325673
max    1.702654e+06  561847.000000  2338.405126

==================================================

Table 2 preview:
  Carrier orig_port_cd dest_port_cd  minm_wgh_qty  max_wgh_qty svc_cd  \
0  V444_6       PORT08       PORT09         250.0       499.99    DTD
1  V444_6       PORT08       PORT09          65.0        69.99    DTD
2  V444_6       PORT08       PORT09          60.0        64.99    DTD
3  V444_6       PORT08       PORT09          50.0        54.99    DTD
4  V444_6       PORT08       PORT09          35.0        39.99    DTD

   minimum cost  rate mode_dsc  tpt_day_cnt Carrier type
0         43.23  0.71   AIR               2  V88888888_0
1         43.23  0.75   AIR               2  V88888888_0
2         43.23  0.79   AIR               2  V88888888_0
3         43.23  0.83   AIR               2  V88888888_0
4         43.23  1.06   AIR               2  V88888888_0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Carrier       1540 non-null   object
 1   orig_port_cd  1540 non-null   object
 2   dest_port_cd  1540 non-null   object
 3   minm_wgh_qty  1540 non-null   float64
 4   max_wgh_qty   1540 non-null   float64
 5   svc_cd        1540 non-null   object
 6   minimum cost  1540 non-null   float64
 7   rate          1540 non-null   float64
 8   mode_dsc      1540 non-null   object
 9   tpt_day_cnt   1540 non-null   int64
 10  Carrier type  1540 non-null   object
dtypes: float64(4), int64(1), object(6)
memory usage: 132.5+ KB
None

Statistics:
       minm_wgh_qty   max_wgh_qty  minimum cost         rate  tpt_day_cnt
count   1540.000000   1540.000000   1540.000000  1540.000000  1540.000000
mean     155.886637   4636.143633     12.329740     2.892987     2.186364
std      475.952049  20251.309727     22.946364     4.603847     2.000895
min        0.000000      0.453592      1.200000     0.030000     0.000000
25%       15.010000     21.500000      3.660000     0.472500     1.000000
50%       41.010000     47.500000      7.420000     1.665000     2.000000
75%       67.229614     99.990000     11.495000     3.932500     2.000000
max    10000.000000  99999.990000    425.030000   128.030000    14.000000

==================================================

Table 3 preview:
        WH  Cost/unit
0  PLANT15       1.42
1  PLANT17       0.43
2  PLANT18       2.04
3  PLANT05       0.49
4  PLANT02       0.48

Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   WH         19 non-null     object
 1   Cost/unit  19 non-null     float64
dtypes: float64(1), object(1)
memory usage: 456.0+ bytes
None

Statistics:
       Cost/unit
count  19.000000
mean    0.724737
std     0.495820
min     0.370000
25%     0.475000
50%     0.520000
75%     0.635000
max     2.040000

==================================================

Table 4 preview:
  Plant ID  Daily Capacity
0  PLANT15               11
1  PLANT17                8
2  PLANT18              111
3  PLANT05              385
4  PLANT02              138

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Plant ID         19 non-null     object
 1   Daily Capacity   19 non-null     int64
dtypes: int64(1), object(1)
memory usage: 432.0+ bytes
None

Statistics:
       Daily Capacity
count        19.000000
mean        304.789474
std         323.513280
min           7.000000
25%          31.500000
50%         209.000000
75%         473.500000
max        1070.000000

==================================================

Table 5 preview:
  Plant Code  Product ID
0    PLANT15     1698815
1    PLANT17     1664419
2    PLANT17     1664426
3    PLANT17     1672826
4    PLANT17     1674916

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036 entries, 0 to 2035
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Plant Code  2036 non-null   object
 1   Product ID  2036 non-null   int64
dtypes: int64(1), object(1)
memory usage: 31.9+ KB
None

Statistics:
         Product ID
count  2.036000e+03
mean   1.684180e+06
std    1.314804e+04
min    1.613321e+06
25%    1.680697e+06
50%    1.685270e+06
75%    1.692999e+06
max    1.702654e+06

==================================================

Table 6 preview:
  Plant Code            Customers
0    PLANT02    V5555555555555_16
1    PLANT02  V555555555555555_29
2    PLANT02         V555555555_3
3    PLANT02    V55555555555555_8
4    PLANT02          V55555555_9

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Plant Code  14 non-null     object
 1   Customers   14 non-null     object
dtypes: object(2)
memory usage: 352.0+ bytes
None

Statistics:
       Plant Code  Customers
count          14         14
unique          4         10
top       PLANT02  V55555_10
freq            7          3

==================================================

Table 7 preview:
  Plant Code    Port
0    PLANT01  PORT01
1    PLANT01  PORT02
2    PLANT02  PORT03
3    PLANT03  PORT04
4    PLANT04  PORT05

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Plant Code  22 non-null     object
 1   Port        22 non-null     object
dtypes: object(2)
memory usage: 480.0+ bytes
None

Statistics:
       Plant Code    Port
count          22      22
unique         19      11
top       PLANT07  PORT04
freq            2       7

==================================================